{
  "rules": {
    "no-console": 0,
    "quotes": [
        2,
        "single"
    ],
    "semi": [
        2,
        "always"
    ]
  },
  "env": {
      "browser": true,
      "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": 'module'
  }
}
